<%= render 'static/menu' %>
<div>
	<img  src = "/assets/Nouveau_Beneficiaire.png" />
	<br/>
	<a href="/beneficiaires" class="btn btn-large">
		<i class="icon-backward"></i> 
	</a>
</div>
<br/>


<%= render 'form' %>


