<%= render 'static/menu' %>
<div>
	<img src ="/assets/antennes_title.png" />
	<br />
	<a href="/antennes" class="btn btn-large"><i class="icon-backward"></i></a>
</div>
<br />
<%= render 'form' %>


