<div class="tabbable">	
	<ul class="nav nav-tabs">
  		<li class="active">
    		<a href="/">Operations</a>
  		</li>
  		<li><a href="#">Gestion</a></li>
  		<li><a href="#">Formation & Outils</a></li>
  		<li><a href="#">Actualit&eacute;s</a></li>
	</ul>
	<div class="tab-content">