
	<div class="tab-pane active offset1" id="tab1">
	  <div class="btn-toolbar">
		  <a href="beneficiaires" class="btn btn large">
		  	Cr&eacute;er <br/>
		  		un <br/>
		  	B&eacute;n&eacute;ficiaire
		  </a>
		  <a href="antennes" class="btn ">
		  	Cr&eacute;er <br/>
		  		Une <br/>
		  	Nouvelle Antenne
		  </a>
		  <a href="#" class="btn btn large">
		  	Cr&eacute;er <br/>
		  		Une <br/>
		  	Nouvelle Structure
		  </a>
		  <a href="#" class="btn btn large">
		  	Cr&eacute;er <br/>
		  		Un <br/>
		  	Nouveau R&eacute;f&eacute;rent
		  </a>
		  <a href="#" class="btn btn large">
		  	Cr&eacute;er <br/>
		  		Une <br/>
		  	Op&eacute;ration sur B&eacute;n&eacute;ficiaire
		  </a>
	  </div>  	
	
	 
	</div>

