<%= render 'static/menu' %>

	<div class="tab-pane active" id="tab1">
	  <div class="btn-toolbar">
		  <a href="beneficiaires" class="btn btn large">
		  	<img src="../assets/creer_button.png" />
		  </a>
		  <a href="antennes" class="btn ">
		  	<img src="../assets/antenne_button.png" />
		  </a>
		  <a href="#" class="btn btn large">
		  	<img src="../assets/structure_button.png" />
		  </a>
		  <a href="#" class="btn btn large">
		  	<img src="../assets/referent_button.png" />
		  </a>
		  <a href="#" class="btn btn large">
		  	<img src="../assets/operation_button.png" />
		  </a>
	  </div>  
	</div>

